#topbar{
    width: 1200px;
    margin:0% auto;
    height:40px;
    
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#logo{
    margin: 8px;
    width: 100px;
    float: left;
}
.topbar-section{
    float: left;
    border-left: 1px #cccccc solid;
    height: 100%;
    margin-right: 8px;
}
#signin-image{
    margin: 10px 10px;
    float: left;

}
#signin-text{
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 14px;
}
.topbar-menu{
    font-weight: bold;
    font-size: 90%;
    padding: 13px 15px 0 15px;
    height: 27px;

}
#more-arrow{
    width: 18px;
    margin-left: 5px;
}
#search-box{
    background-color: #e4e4e4;
    border: none;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    margin: 5px 0 10px 5px;
    float: left;
}
#magnifying-glass{
    height: 26px;
    margin-top: 5px;
}
.clear{
    clear: both;
}
#menu-bar-container{
    border-top: 1px solid #cccccc;
    background-color: #A91717;
    width: 100%;
    height: 60px;
}
#menu-bar{
    width: 1200px;
    margin: 0 auto;
}
h1{
   padding: 0;
   margin: 0;
   color: white;
   font-size: 40px;
   font-weight: normal; 
   padding: 10px;
   float: left;
  
}
#local-news{
    border: 1px #884545 solid;
    float:right;
    width: 180px;
    padding: 5px 5px 0 10px;
    margin: 5px 10px 0 0 ;

    
}
#local-news a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    top: -5px;
}
#local-news a:hover{
    text-decoration: underline;

}
#pointer{
    width: 20px;
   margin-top: 5px;
}
#menu-bar-2-container{
    background-color: #881919;
    width: 100%;
}
#menu-bar-2{
    width:1200px;
    margin: 0 auto;
    height: 30px;
    margin-top: -5px;
}
#menu-bar-2 a{
    color: white;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid #bb4545;
    font-size: 15px;
    position: relative;
    top: 10px;
}
#menu-bar-2 a:hover{
    text-decoration: underline;
}
.no-border{
    border: none !important;
}
#down-arrow{
    height: 12px;
    position: relative;
    top: 10px;

}
#page-container{
    width: 1000px;
    margin: 0 auto;

}
h2{
    font-weight: normal;
    margin-top: 40px;
    font-size: 20px;
   border-bottom : 2px #884545 solid;
   width: 100px;
}
h3 a{
    color: black;
    font-size: 27px;
    text-decoration: none;

}
h3 a:hover{
    color: #1167e8;
}
#article-summary{
    color: #5a5a5a;
    width: 250px;
    float: left;
}
.clock{
    height: 16px;
    position: relative;
    top: 2px;
}
.topic-link{
    text-decoration: none;
    color: #a91717;
    border-left: 1px solid #cccccc;
    padding-left: 10px;
   
 }
 #article-summary a:hover{
     color: #1167a1
 }
 .date{
     padding-right: 10px;
     color: #5a5a5a;
   
 }
 #article-container{
     float: left;
     width: 670px;
     border-right: 1px solid #cccccc;
     padding: 20px;

 }
 #main-article-image{
     width: 400px;
     margin-left: 20px;
 }
 #article-hr{
     border-top: 1px solid #A91717;
     width: 45px;

 }
 .article-link{
     color: black;
     text-decoration: none;
 }
 #watch-listen{
   margin-left: 20px;  
   width: 260px;
   float:right;
 }
 h4{
     font-weight: normal;
     font-size: 20px;
 }
 .article-side-image{
     float: left;
     width: 90px;
     margin-right: 10px;
 }
 .watch-listen-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
 }
 .watch-listen-link:hover{
     color: #1167a1;

 }
 .side-article{
     float:right;
     width: 150px;
     position: relative;
     top: -20px;
 }
 .no-border{
     border-left: none;
     padding: 0;
 }
 .border-right{
     border-right: 1px solid #cccccc;
 }